<h1>Your New Contact has been Created!</h1>
<h2>@Model.GetName() is added to Phat's Address Book!</h2>
<ul>
    <li>Name: @Model.GetName()</li>
    <li>Phone Number: @Model.GetPhoneNumber()</li>
    <li>Address: @Model.GetAddress()</li>
</ul>
<!-- //display to show all contacts created// -->
<h4>Click <a href="/view_all_contacts"> View All Your Contact </a>in the Address Book</h4>
<!-- //return to add more contacts// -->
<h4>Click <a href="/add_new_contact">ADD NEW CONTACT!</a></h4>
